$manrope: 'Manrope',sans-serif;
$inter : 'Inter',sans-serif;
$size_16 : calc( (100vw - 480px)/(1320 - 480) * (16 - 16) + 16px);
$size_18 : calc( (100vw - 480px)/(1320 - 480) * (18 - 18) + 18px);
$size_60 : calc( (100vw - 480px)/(1320 - 480) * (60 - 60) + 60px);
$size_40 : calc( (100vw - 480px)/(1320 - 480) * (40 - 40) + 40px);
$size_24 : calc( (100vw - 480px)/(1320 - 480) * (24 - 24) + 24px);


section{
  margin-top: 130px;
}
input,
textarea{
  padding: 14px 23px;
  box-sizing: border-box;
  font-family: $manrope;
  font-style: normal;
  font-weight: 500;
  font-size: $size_16;
  letter-spacing: 0.02em;
  background: #F7F7F7;
  border-radius: 8px;
  border: none;
  outline: none;
  resize: none;
}
.text-right{
  text-align: right;
}
.green{
  color: rgba(145, 199, 9, 1) !important;
}
.blue{
  color: #09B7D9 !important;
  font-size: inherit !important;
  font-weight:  inherit !important;
}

.banner_form_btn{
  background:  linear-gradient(94.48deg, #09B7D9 0%, #96C61C 100%);
  //background-blend-mode: overlay, normal;
  box-shadow: 0px 16px 48px -16px #4BBF82, inset 0px -2px 0px rgba(42, 130, 92, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.5);
  border-radius: 60px;
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 48px;
  box-sizing: border-box;
  transition: 0.3s all;
  &:hover{
    background: linear-gradient(94.79deg, #09B7D9 -32.42%, #B6E441 100%);
    //background-blend-mode: overlay, normal;
    box-shadow: 0px 16px 48px -16px #62EA80, inset 0px -2px 0px rgba(34, 211, 200, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.75);
    border-radius: 60px;
    color: #FFFFFF;
  }
}
.default_link{
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #329C66;
  padding: 20px 48px;
  box-sizing: border-box;
  transition: 0.3s all;
  background: transparent;
  display: block;
  width: max-content;
  &:hover{
    text-decoration: none;
    color: #9AD20D;
  }
}
.btn_form_default{
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(94.48deg, #09B7D9 0%, #96C61C 100%);
  box-shadow: 0px 16px 48px -16px #4BBF82, inset 0px -2px 0px rgba(42, 130, 92, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 18px 59px;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s all;
  border: none;
  outline: none;
  &:hover{
    background:  linear-gradient(94.79deg, #09B7D9 -32.42%, #B6E441 100%);
    box-shadow: 0px 16px 48px -16px #62EA80, inset 0px -2px 0px rgba(34, 211, 200, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    color: #FFFFFF;
  }
}

.btn_section{
  border-radius: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 48px;
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: 1px solid rgba(150, 198, 28, 1);
  width: max-content;
  color: rgba(150, 198, 28, 1);
  transition: 0.3s all;
  &:hover{
    border: transparent;
    color: rgba(150, 198, 28, 1);
  }
}

.detail_link{
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #329C66;
  text-decoration: underline !important;
  transition: 0.3s all;
  &:hover{
    text-decoration: none;
    color: #9AD20D;
  }
}


.section_title{
  font-family: $manrope;
  font-style: normal;
  font-weight: 600;
  font-size: $size_40;
  color: #2E2E38;
}

.subtitle{
  font-family: $manrope;
  font-style: normal;
  font-weight: 400;
  font-size: $size_16;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(46, 46, 56, 0.8);
}