$manrope: 'Manrope', sans-serif;
$inter: 'Inter', sans-serif;
$size_16: calc((100vw - 480px) / (1320 - 480) * (16 - 16) + 16px);
$size_18: calc((100vw - 360px) / (1920 - 360) * (18 - 14) + 14px);
$size_60: calc((100vw - 360px) / (1920 - 360) * (60 - 24) + 24px);
$size_40: calc((100vw - 360px) / (1920 - 360) * (40 - 20) + 20px);
$size_44: calc((100vw - 360px) / (1920 - 360) * (44 - 24) + 23px);
$size_24: calc((100vw - 360px) / (1920 - 480) * (24 - 14) + 13px);
$size_20: calc((100vw - 360px) / (1920 - 360) * (20 - 14) + 14px);


.owl-dots{
  .owl-dot{
    span{
      background: #DFF1D7;
    }
  }
}

.owl-theme .owl-dots .owl-dot span{
  background: #DFF1D7;
}
.owl-theme .owl-dots .owl-dot.active span, {
  background: linear-gradient(0deg, #98CD10, #98CD10), #DFF1D7;

}
section {
  margin-top: 130px;
}

section.banner {
  margin-top: 0;
}

input,
textarea {
  padding: 14px 23px;
  box-sizing: border-box;
  font-family: $manrope;
  font-style: normal;
  font-weight: 500;
  font-size: $size_16;
  letter-spacing: 0.02em;
  background: #F7F7F7;
  border-radius: 8px;
  border: none;
  outline: none;
  resize: none;
}

.text-right {
  text-align: right;
}

.green {
  color: rgba(145, 199, 9, 1) !important;
}

.blue {
  color: #09B7D9 !important;
  font-size: inherit !important;
  font-weight: inherit !important;
}

.banner_form_btn {
  background: linear-gradient(94.48deg, #09B7D9 0%, #96C61C 100%);
  //background-blend-mode: overlay, normal;
  box-shadow: 0px 16px 48px -16px #4BBF82, inset 0px -2px 0px rgba(42, 130, 92, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.5);
  border-radius: 60px;
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 48px;
  box-sizing: border-box;
  transition: 0.3s all;

  &:hover {
    background: linear-gradient(94.79deg, #09B7D9 -32.42%, #B6E441 100%);
    //background-blend-mode: overlay, normal;
    box-shadow: 0px 16px 48px -16px #62EA80, inset 0px -2px 0px rgba(34, 211, 200, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.75);
    border-radius: 60px;
    color: #FFFFFF;
  }
}

.default_link {
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #329C66;
  //padding: 20px 48px;
  box-sizing: border-box;
  transition: 0.3s all;
  background: transparent;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 2px;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #329C66;
    transition: 0.3s all;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
  }

  &:hover {
    text-decoration: none;
    color: #9AD20D;

    &:after {
      //transform: scaleX(0);
      //left: -100%;
      width: 0;
    }
  }
}

.btn_form_default {
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(94.48deg, #09B7D9 0%, #96C61C 100%);
  box-shadow: 0px 16px 48px -16px #4BBF82, inset 0px -2px 0px rgba(42, 130, 92, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 18px 59px;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s all;
  border: none;
  outline: none;

  &:hover {
    background: linear-gradient(94.79deg, #09B7D9 -32.42%, #B6E441 100%);
    box-shadow: 0px 16px 48px -16px #62EA80, inset 0px -2px 0px rgba(34, 211, 200, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    color: #FFFFFF;
  }
}

.btn_section {
  border-radius: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 48px;
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: 1px solid rgba(150, 198, 28, 1);
  width: max-content;
  color: rgba(150, 198, 28, 1);
  transition: 0.3s all;

  &:hover {
    border: transparent;
    color: rgba(150, 198, 28, 1);
  }
}

.info_btn{
  border: 1px solid;
  outline: none;
  text-decoration: none;
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #ACACAC;
  border-radius: 60px;
  width: 178px;
  height: 60px;
  background: transparent;
  display: block;
  transition: .3s all;
  &:hover{
    color: #98CD10;
  }
}

.detail_link {
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #329C66;
  text-decoration: underline !important;
  transition: 0.3s all;

  &:hover {
    text-decoration: none;
    color: #9AD20D;
  }
}

.btn_phone{
  background: linear-gradient(94.48deg, #09B7D9 0%, #96C61C 100%);
  box-shadow: 0px 16px 48px -16px #4BBF82, inset 0px -2px 0px rgba(42, 130, 92, 0.4), inset 0px 0px 12px rgba(255, 255, 255, 0.5);
  border-radius: 60px;
  position: relative;
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  svg{
    margin-left: auto;
    margin-right: -20px;
  }
  &:after{
    content: '';
    display: block;
    background: rgba(42, 130, 92, 0.4);
    width: 1px;
    height: 58px;
    position: absolute;
    right: 70px;
    top: 0;
  }
  &:before{
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 58px;
    position: absolute;
    right: 69px;
    top: 0;
  }
}
.section_title {
  font-family: $manrope;
  font-style: normal;
  font-weight: 600;
  font-size: $size_40;
  color: #2E2E38;
}

.subtitle {
  font-family: $manrope;
  font-style: normal;
  font-weight: 400;
  font-size: $size_16;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(46, 46, 56, 0.8);
}
input{
  background: #F7F7F7;
  border-radius: 8px;
  padding: 14px 23px;
  box-sizing: border-box;
  font-family: $manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;

}

.form_submit,
.next_step{
  font-family: $inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  background:  linear-gradient(94.48deg, #09B7D9 0%, #96C61C 100%);
  box-shadow: 0px 16px 48px -16px #4BBF82, inset 0px -2px 0px rgba(42, 130, 92, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 20px 50px;
  box-sizing: border-box;
  transition: 0.3s all;
  border: transparent;
  &:hover{
    background: linear-gradient(94.79deg, #09B7D9 -32.42%, #B6E441 100%);
    box-shadow: 0px 16px 48px -16px #62EA80, inset 0px -2px 0px rgba(34, 211, 200, 0.4), inset 0px 0px 16px rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
  }
}


.btn_toggle_boll{
  cursor: pointer;
  border: 1px solid;
  outline: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #ACACAC;
  border-radius: 60px;
  width: 178px;
  height: 60px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgba(152, 205, 16, 0.4) transparent rgba(152, 205, 16, 0.4) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.overlay{
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 499;
  display: none;
}
